<div class="container-xxl">
  <div class="navbar  pt-5 pb-4 border-bottom row">
      <div class="col-4 d-none d-md-inline justify-content-center d-inline">
        <span class="text-secondary fw-bold">
          <img routerLink="/home" src="{{logoPath}}" height="120" width="120" class="d-none d-md-inline">
        </span>
      </div>
      <div class="col-8">
        <p class="display-6 text-left ">{{headerText}}</p>
        <p class="bi bi-telephone-fill  d-inline display-6  text-left">{{phoneNumber}}</p>
      </div>

    <a class=" mx-2">
      <a href="{{instagramLink}}" class="nav-link ">
        <i class="bi bi-instagram corner-icon-instagram mt-2"></i>
      </a>
    </a>
    <a>
      <a href="{{facebookLink}}" class="nav-link ">
        <p class="bi bi-facebook corner-icon-facebook mt-2"></p>
      </a>
    </a>
    <a>
      <a href="{{twitterLink}}" class="nav-link">
        <i class="bi bi-twitter corner-icon-twitter mt-2"> </i>
      </a>
    </a>
    <a>
      <button (click)="onLoginClick()" class="login-label " routerLink="/login"> Zaloguj się</button>
    </a>
    <a class="nav-item mx-2 d">

      <button (click)="onRegistryClick()" class="registration-label " routerLink="/sign-up">Rejestracja</button>

    </a>


  </div>
</div>
