.corner-icon-instagram{

  position: absolute;
  right: 20px;
  top: 0px;
  height: 40px;
}
.corner-icon-facebook{

  position: absolute;
  right: 60px;
  top: 0px;
  height: 40px;

}
.corner-icon-twitter{

  position: absolute;
  right: 100px;
  top: 0px;
  height: 40px;

}
.login-label{
  position: absolute;
  left: 0px;
  top: 0px;
  height: 40px;
  background-color: transparent;
  border: none;


}
.registration-label{
  position: absolute;
  left: 90px;
  top: 0px;
  height: 40px;
  background-color: transparent;
  border: none;

}
.registration-label:hover{
  color: #77bb3f;
}
.login-label:hover {
  color: #77bb3f;
}
