<div class="container-xxl border-bottom  my-5 component-gap">
  <div class="row g-4 justify-content-center align-items-center my-5">
    <div class="col-md-5 text-center text-md-start">
      <h1>
        <div class="display-2">Zaszczep się</div>
        <div class="display-5 text-muted">Zadbaj o siebie i bliskich</div>
      </h1>
      <p class="lead my-4 text-muted">Nie pozwól, aby wirus pokrzyżował twoje plany. Zapisz się na szczepienie już dziś
        w jednej z poradni <span class="t-med">Medicum-Zone.</span></p>
      <a  class="btn btn-primary btn-lg bg-">Umów się na szczepienie</a>


      <ng-template #content let-modal>
        <div class="modal-header">
          <h3 class="modal-title">Statystyki COVID-19 z dnia {{todaysDate}}</h3>

        </div>
        <div class="modal-body" *ngIf="isModalReady; else preloader">
          <p>Całkowita liczba zgonów: {{covidSimpleStats.deathsAtAll}}</p>
          <p>Liczba zgonów dzisiaj: {{covidSimpleStats.deathsToday}}</p>
          <p>Całkowita liczba zarażonych: {{covidSimpleStats.infectedAtAll}}</p>
          <p>Liczba zarażonych dzisiaj: {{covidSimpleStats.infectedToday}}</p>
          <p>Całkowita Liczba wyzdrowiałych: {{covidSimpleStats.recovered}}</p>
        </div>
        <ng-template #preloader>
          <div class="preloader-covid">
            <app-preloader [message]="preloaderMessage"></app-preloader>
          </div>
        </ng-template>
        <div class="modal-footer">
          <a type="button" class="btn btn-primary text-white " (click)="modal.close('Close click')">Zamknij</a>
        </div>
      </ng-template>


      <a class="d-block  mt-3" (click)="openWindowCustomClass(content)">Pokaż statystyki Covid-19 w
        Polsce</a>
    </div>
    <div class="col-md-5 text-center d-none d-md-block">
      <!-- tooltip -->
      <span class="tt" data-bs-placement="bottom" title="Covid stats">
            <img src="/assets/images/covid.jpg" class="img-fluid" alt="ebook">
          </span>
    </div>
  </div>
</div>

