<h6 class="display-6 text-center text-primary mt-5 mb-2"> Moje recepty</h6>
<div class="display-flex">
  <div class="flex-column d-flex align-items-center">
    <div class="flex-row d-flex ">
      <p>Sprawdź wszystkie kody e-recept, które są przypisane do twojego konta pacjenta.</p>
    </div>
      <button class="btn btn-primary w-100 align-self-stretch">Sprawdź e-recepty</button>
  </div>
  <h6 class="display-6 text-center text-primary mt-5 mb-2">Skierowania lekarskie</h6>
  <div class="flex-column d-flex align-items-center">
    <div class="flex-row d-flex ">
      <p>Jako pacjent Medicum-Zone masz dostęp do wszystkich wypisanych skierowań przez lekarzy pierwszego kontaktu.</p>
    </div>
    <button class="btn btn-primary w-100 align-self-stretch">Moje skierowania</button>
  </div>

</div>
