.home{
    max-width: 100%;
}
.home .image{
    max-width: 100%;
    flex: 1;
    min-width: 100%;
 }
.text{
     position: relative;
     margin-top: -60%;
     margin-left:40%;
     font-size: 30px;
 }
 .text button {
    display:block;
    width: auto;
    border:none;
    background-color: darkblue;
    padding: 20px 28px;
    font-size: 16px;
    cursor: pointer;
    text-align: center;
    color: white;
    margin-top: 30px;
    
    
 }