<div class="container-xxl">
  <div class="row my-5  border-top">
    <p class="display-6 text-start mt-5 text-center">Poznaj nasze możliwości</p>
  </div>
  <div class="row mb-1" >
    <nav class="navbar navbar-expand-lg navbar-light bg-light  text-center">

      <button class="navbar-toggler" type="button" data-bs-toggle="dropdown" data-bs-target="#main-nav"
              aria-controls="main-nav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse mx-5 text-center" id="navbarNavDropdown">
        <ul class="navbar-nav">
          <li class="nav-item dropdown">
            <a  (click)="click()" class="nav-link dropdown-toggle fs-4 mx-4" href="#" id="navbarDropdownMenuLink" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Lekarze i placówki
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              <a class="dropdown-item" href="#">Action</a>
              <a class="dropdown-item" href="#">Another action</a>
              <a class="dropdown-item" href="#">Something else here</a>
            </div>
          </li>
          <li class="nav-item active fs-4 mx-5">
            <a class="nav-link" href="#">Szczepienia <span class="sr-only"></span></a>
          </li>
          <li class="nav-item fs-4 mx-5">
            <a class="nav-link" href="#">Strefa wiedzy</a>
          </li>
          <li class="nav-item fs-4 mx-5">
            <a class="nav-link" href="#">Strefa studenta</a>
          </li>
          <li class="nav-item fs-4 mx-4">
            <a class="nav-link" href="#">Kontakt</a>
          </li>

        </ul>
      </div>
    </nav>
  </div>
</div>
