.header {
    padding: 35px;
    display: flex;
    align-items: center;
    max-width: 100%;
    margin: 0 auto;
    border-bottom: 1px solid black;
    background-color: white;
    max-width: 100%;
    
}
.header .links{
    margin-left: auto;
    
}
.header a{
    margin-left: 12px;
    color: red;
}
.header a:hover{

    cursor: pointer;
}
.header h2{
    color: red;
}

