<h2 class="text-primary text-center display-6 mb-3 mt-5">Szczepienia</h2>
<div class="d-flex">
  <div class="flex-column">
    <div class="flex-row">
      <p>W związku z aktualną sytuacją pandemiczną w Polsce, Medicum-Zone wprowadziło punkty szczepień w wybranych placówkach.
        Aby dowiedzieć się więcej i zapisać się na szczepienie do jednej z naszych placówek, kliknij w przyscisk poniżej:
      </p>
      <div class="flex-row">
        <button class="btn btn-primary btn-lg align-self-center w-100"> Umów się na szczepienie</button>
      </div>
    </div>
  </div>
</div>
