<h6 class="display-6 text-center text-primary mt-4 mb-3">Wizyty lekarskie</h6>
<div class="d-flex mt-3">
  <div class="flex-column d-flex border w-50 p-3">
    <div class="flex-row">
      <label class="display-6" > Zaplanowane wizyty</label>
     <div class="flex-row">
       Sprawdź aktualne wizyty lekarskie, na które jesteś zapisany.
     </div>
      <button class="btn btn-primary mt-3">Moje wizyty</button>
    </div>

  </div>
  <div class="flex-column d-flex border w-50 p-3">
    <div class="flex-row">
      <label class="display-6" >Umów się na wizytę</label>
      <div class="flex-row">
        Wybierz odpowiedniego specjalistę i umów się na wizytę w dowolnej placówce.
      </div>
      <button class="btn btn-primary mt-3">Zaplanuj wizytę</button>
    </div>
  </div>
</div>

